{{define "header"}}
    <header class="am-topbar am-topbar-fixed-top" style="border-top:#00C1DE solid 10px">
        <div class="am-container">
            <h1 class="am-topbar-brand">
                <a href="#">玮玮道来</a>
            </h1>
            <div class="am-collapse am-topbar-collapse" id="collapse-head">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li id="header-index"><a href="/index">网站首页</a></li>
                    <li><a href="#">个人博客</a></li>
                    <li id="header-mycourse"><a href="/mycourse">编程教程</a></li>
                    <li id="header-about"><a href="/about">关于本站</a></li>
                </ul>
            </div>
        </div>
    </header>
{{end}}