<!DOCTYPE html>

<html>
<head>
    <title>one2one</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
    <style>
        body {
            background-color: azure;
        }
        .content {
            margin-top:40px;
        }
        .navbar-default {
            background-color: #33CC00;

        }
        .navbar-brand {
            color : white;
        }
        #navbar a {
            color : white;
        }
        .footer {
            text-align: center;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background-color: #f5f5f5;
        }
    </style>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
       <div class="container">
         <div class="navbar-header">
           <a class="navbar-brand" href="#">one2one</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
             <li><a href="#">首页</a></li>
             <li><a href="#about">关于本站</a></li>
             <li><a href="#contact">一对一教学</a></li>
           </ul>
         </div>
       </div>
     </nav>

     <div class="container content">
        <div class="row">
            <div class="col-md-9 context-left">
                <div class="page-header">
                    <h4>热门教程</h4>
                </div>
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="/static/img/beego.png" alt="beego">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">SQL教程</h4>
                            经典的sql教程
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="/static/img/jwt.jpg" alt="beego">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">JWT教程</h4>
                            从入门到放弃JWT
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="/static/img/beego.png" alt="beego">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">SQL教程</h4>
                            经典的sql教程
                        </div>
                    </li>
                </ul>
                <div>
                    <div class="page-header">
                        <h4>热门教程</h4>
                    </div>
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/static/img/beego.png" alt="beego">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">SQL教程</h4>
                                经典的sql教程
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/static/img/beego.png" alt="beego">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">SQL教程</h4>
                                经典的sql教程
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 context-right">

            </div>
        </div>
     </div>

    <footer>
        <div class="footer">
            <div class="container">
                copyright by one2one.com from 2019 to 2022
            </div>
        </div>
    </footer>
</body>
</html>
